.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* font-family: 'Righteous', cursive; */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}